/* CSS RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* CSS RESETS */

/* UTILITY CLASSES */

.spacing :not(:last-child) {
  margin-bottom: 20px;
}

.fa-solid.fa-utensils,
.fa-solid.fa-heart-pulse,
.fa-solid.fa-cookie-bite,
.fa-solid.fa-bowl-food {
  border-radius: 15px;
  border: 3px solid #c695ff;
  padding: 8px;
}

.fa-solid.fa-right-long {
  margin-left: 10px;
}
/* UTILITY CLASSES */

section {
  display: flex;
  width: 70%;
  gap: 2.5rem;
  padding: 20px 20px;
  background-color: #9255f0;
  border-radius: 34px;
  color: white;
  height: 238px;
}

.recipe {
  cursor: pointer;
  text-align: center;
  transition: all ease-in 0.2s;
}

.icon {
  text-align: center;
  font-size: 2rem;
  color: #ffe293;
  transition: all ease-in 0.2s;
}

.recipe:hover {
  background: #ffe293;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
  height: 136%;
  padding: 10px;
}

.info {
  display: none;
  transition: all ease-in 0.2s;
}

.recipe:hover {
  transform: translateY(-50px);
}

.recipe:hover .info {
  display: block;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  background-color: #ffe293;
  padding-bottom: 20px;
}

/* .recipe:hover .icon {
  color: #f3b231;
} */

.recipe:hover .fa-solid.fa-utensils,
.recipe:hover .fa-solid.fa-heart-pulse,
.recipe:hover .fa-solid.fa-cookie-bite,
.recipe:hover .fa-solid.fa-bowl-food {
  border-color: #fede88;
  margin-top: 20px;
  background-color: #f3b231;
  /* color: black; */
}
