@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  background: linear-gradient(
    0deg,
    rgba(244, 244, 244, 1) 50%,
    rgba(252, 201, 47, 1) 50%
  );
}
.header {
  /* text-align: center; */
  font-size: 1.5rem;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
  margin: 0 auto;
  width: 80%;
  margin-top: 5rem;
}
.cards {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  gap: 5rem;
  font-size: 2rem;
  /* outline: 1px solid green; */
  padding-top: 4rem;
  /* padding-left: 2rem; */
  padding-bottom: 2rem;
  /* height: 70rem; */
}

.card1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid blue; */
  background-color: #f7f8fc;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
  width: 400px;
  border-radius: 20px;
  /* height: 50rem; */
}
.card2 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f8fc;
  /* outline: 1px solid blue; */
  opacity: 0.9;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
  width: 400px;
  border-radius: 20px;
  /* height: 55rem; */
}
.card3 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  opacity: 0.9;

  box-sizing: border-box;
  background-color: #f7f8fc;
  /* height: 60rem; */
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
  width: 400px;
  border-radius: 20px;
}

.getstartedbtn {
  font-size: 2rem;
  border: none;
  background: #10182f;
  color: white;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
  height: 3rem;
}

.team,
.agency,
.enterprice {
  text-align: center;
  font-size: 2rem;
}
.price {
  text-align: center;
}
.list {
  line-height: 2.5rem;
  font-weight: 10;
  padding-bottom: 4rem;
  padding-top: 4rem;
  padding-left: 2rem;
}
.choose {
  font-weight: 700;
  /* text-align: center; */
  display: block;
  width: 50%;
  /* outline: 1px solid purple; */
}
li {
  list-style: url('./check-lg.svg');
  margin-left: 20px;
  font-size: 1.5rem;
  line-height: 3rem;
}
