body {
  background: cadetblue;
}

#division {
  outline: 1px solid red;
  height: 80vh;
  width: 80vw;
}

#heading,
#paragraph,
#subheading,
#button {
  transition: all 1s ease-in;
}

.animate {
  transform: translateX(100px);
  transition: all 1s ease-in;
}

#heading.animate {
  background: red;
}
#paragraph.animate {
  background: green;
}
#subheading.animate {
  background: blue;
}
#button.animate {
  background: yellow;
}
