* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid: repeat(6, 1fr) / repeat(10, 1fr);
  padding: 20px;
  gap: 1rem;
}

.item1 {
  grid-row: 1 / -1;
  grid-column: span 2;
  background-color: lightgoldenrodyellow;
}

.item2 {
  grid-column: span 6;
  background-color: beige;
}

.item3 {
  grid-row: 1 / -1;
  grid-column: 9 / span 2;
  background-color: aquamarine;
}

.item4 {
  grid-column: span 3;
  background-color: blueviolet;
}

.item5 {
  grid-column: span 3;
  background-color: crimson;
}

.item6 {
  grid-column: span 2;
  grid-row: 3 / -1;
  background-color: coral;
}

.item7 {
  grid-column: span 4;
  background-color: darkorchid;
}

.item8 {
  grid-column: span 2;
  background-color: burlywood;
}

.item9 {
  grid-column: span 2;
  background-color: darkgrey;
}

.item10 {
  grid-column: span 4;
  grid-row: span 2;
  background-color: darkslateblue;
}
