* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  line-height: 1.5;
}

.container {
  outline: 1px solid lightgray;
  max-width: 30vw;
  width: 30vw;
  margin: 0 auto;
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  margin-top: 10rem;
  border-radius: 0.7rem;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
p {
  color: #4b4e62;
  letter-spacing: 0.3px;
}

strong {
  color: black;
}
hr {
  border: none;
  outline: 0.7px solid #cfcdc7;
}

.flex {
  display: flex;
  gap: 1rem;
}
.flex i {
  width: 0.8rem;
}
#pflex {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.job-details {
  display: initial;
}

.job-openings {
  display: flex;
  gap: 0.5rem;
}

.job-openings p {
  padding-right: 0.4rem;
}
.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btns a {
  text-decoration: none;
  color: darkorange;
  font-weight: bold;
  font-size: 1rem;
}

#btn-2 {
  border-radius: 2rem;
  padding: 0rem 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  outline: 2px solid rgb(157, 19, 19);
  color: white;
  background-color: rgb(157, 19, 19);
}
