* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html {
  text-transform: capitalize;
}

/* using flex 


.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  width: 100vw;
}

.header {
  justify-content: center;
  flex-basis: 15%;
  background: lightgray;
}

.navbar {
  justify-content: center;
  flex-basis: 10%;
  background: lightgray;
}

.content {
  justify-content: center;
  display: flex;
  gap: 10px;
  flex-basis: 60%;
}

.aside {
  justify-content: center;
  flex-basis: 20%;
  background: lightgray;
}

.main-content {
  justify-content: center;
  flex-basis: 60%;
  background: lightgray;
}

.footer {
  justify-content: center;
  flex-basis: 15%;
  background: lightgray;
}


using flex ends*/

/* using grid  */

.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header,
.navbar,
.footer {
  grid-column: 1 / span 3;
  background-color: lightgray;
  align-items: center;
}

.main-content,
.aside {
  background-color: lightgray;
}
